@charset "UTF-8";
*, html, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

body {
  background-color: rgb(218, 218, 218);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none !important;
  border: none;
}

.login-btn {
  padding: 10px 40px;
  background-color: rgb(192, 133, 6);
  color: #fff;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
  outline: none !important;
  border: none !important;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 2rem 5rem;
  width: 100%;
  font-family: "Poppins", sans-serif;
}
header svg {
  cursor: pointer;
}

.menu, .close {
  display: none;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  gap: 40px;
  align-items: center !important;
  justify-content: center !important;
}
header nav ul li {
  display: inline-block;
}

header .logo-section {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

header .logo-section a {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  margin-top: -1em;
}
header .logo-section a img {
  width: 80px;
  text-align: center;
}

header .logo-section a {
  color: #000;
  font-weight: 700;
  font-size: 1.2rem;
}

.active {
  color: rgb(192, 133, 6);
  font-weight: 600;
}

header nav ul li a {
  color: #000;
  transition: 0.4s ease;
}
header nav ul li a:hover {
  color: rgb(192, 133, 6);
  transition: 0.4s ease;
  padding-left: 10px;
  font-weight: 600;
}

header nav .secondary {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .secondary a {
  margin-right: 40px;
}
header nav .secondary .link {
  color: #000;
  border: 2px solid #000;
  padding: 10px;
  border-radius: 10px;
  font-weight: 500;
  margin-left: 10px;
}

@media only screen and (max-width: 1150px) {
  .menu, .close {
    display: block;
  }
  header {
    justify-content: space-between;
    align-content: center;
    width: 100%;
  }
  header nav {
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: unset;
    align-content: unset;
    width: 70%;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(176, 176, 176, 0.532);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    z-index: 999;
    margin: 0;
    transition: 0.8s all;
    transform: translateX(100%);
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    gap: 40px;
  }
  header nav ul li {
    padding: 0;
    margin: 0;
  }
  header nav .secondary {
    margin-top: 1rem;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
}
.open-nav {
  transform: translateX(0%);
}

.hero {
  height: 50vh;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  font-family: "Poppins", sans-serif;
}

.hero .left {
  padding: 5rem;
  width: 100%;
}
.hero .left h1 {
  margin-bottom: 10px;
  font-weight: 800;
}
.hero .left p {
  margin-bottom: 20px;
}
.hero .left .hero-btn {
  padding: 10px 70px;
  background-color: rgb(192, 133, 6);
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
}
.hero .left .search-input {
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  outline: none;
}
.hero .left .searchBtn {
  background-color: rgb(192, 133, 6);
  padding: 10px;
  border-radius: 50%;
  color: #fff;
  font-weight: 500;
}

.hero .right {
  padding: 0.6rem 5rem;
  background-color: rgba(255, 255, 255, 0.289);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 3%;
}
.hero .right h4 {
  text-align: center;
  margin-top: 1rem;
}
.hero .right p {
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.502);
}

.hero .right .bus {
  -webkit-animation: bus infinite alternate 5s;
          animation: bus infinite alternate 5s;
  transition: 10s all;
}

@-webkit-keyframes bus {
  from {
    margin-left: 20px;
  }
  to {
    margin-left: -20px;
  }
}

@keyframes bus {
  from {
    margin-left: 20px;
  }
  to {
    margin-left: -20px;
  }
}
@media only screen and (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    height: 100vh;
  }
}
@media only screen and (max-width: 462px) {
  header {
    padding: 1.2rem;
  }
  .hero .left {
    padding: 2rem;
  }
  .hero .left h1 {
    font-size: 1.2rem;
  }
  .hero .left p {
    font-size: 0.8rem;
  }
  .hero .left .hero-btn {
    padding: 10px 40px;
  }
}
.about {
  position: relative;
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.34)), url(../images/pexels-eduardo-lópez-12820194.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
}

.about .about-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about .about-container .content h2 {
  color: #fff;
  font-size: 1.7rem;
  margin-bottom: 20px;
}
.about .about-container .content p {
  color: rgb(195, 195, 195);
}
.about .about-container .content .home-btn {
  margin-top: 20px;
  padding: 10px 50px;
  text-align: center;
  background-color: #fff;
  color: rgb(192, 133, 6);
  font-weight: 600;
  border-radius: 6px;
}
.about .about-container .content .follow-text {
  margin-top: 20px;
  margin-bottom: 0;
  color: #fff;
}
.about .about-container .content .social-media img {
  width: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .about .about-container {
    position: absolute;
    padding: 2rem;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media only screen and (max-width: 380px) {
  .about .about-container {
    position: absolute;
    padding: 2rem;
    width: 100%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media only screen and (max-width: 310px) {
  .about .about-container {
    position: absolute;
    padding: 2rem;
    width: 100%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .content p {
    height: 6rem;
    overflow-y: scroll;
  }
  .content .home-btn {
    padding: 10px 10px !important;
  }
}
.services {
  height: 50vh;
}

footer {
  height: 40vh;
  background-color: #000;
  bottom: 0;
  padding: 5rem;
  font-family: "Poppins", sans-serif;
}
footer p {
  color: #6e6e6e;
  font-size: 0.8rem;
}

footer .footer-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

footer .footer-container .col-one h3 {
  color: rgb(192, 133, 6);
}
footer .footer-container .col-one h3 img {
  width: 80px;
}
footer .footer-container .col-one p {
  color: rgb(209, 209, 209);
  font-size: 0.8rem;
}
footer .footer-container .col-one a p {
  color: #72571d;
}

footer .footer-container .col-two h3 {
  color: rgb(192, 133, 6);
  text-align: center;
}
footer .footer-container .col-two p {
  text-align: center;
  color: rgb(159, 159, 159);
  margin-top: 10px;
  margin-bottom: 10px;
}

footer .footer-container .col-three h3 {
  color: rgb(192, 133, 6);
}

@media only screen and (max-width: 992px) {
  footer {
    height: 70vh;
  }
  footer .footer-container {
    transition: 0.4s all;
    display: grid;
    grid-template-columns: 1fr;
  }
  footer .footer-container .col-two h3 {
    text-align: left;
  }
  footer .footer-container .col-two p {
    text-align: left;
  }
}
.login-container {
  font-family: "Poppins", sans-serif;
  padding: 2rem 5rem;
  margin: 0 auto;
}

.login-container .login-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50vh;
}

.login-container .login-grid .left h4 {
  font-size: 1.4rem;
  margin-left: 4rem;
}

.login-container .login-grid .left form {
  background-color: #fff;
  padding: 2rem 3rem;
  margin-top: 1.4rem;
  border-radius: 10px;
}
.login-container .login-grid .left form .form-group {
  margin: 20px 0;
  padding: 0 3rem;
}
.login-container .login-grid .left form .form-group .form-input {
  padding: 10px 0;
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  color: #6e6e6e;
  background-color: transparent;
  border-bottom: 2px solid rgba(110, 110, 110, 0.4549019608);
  margin: 10px 20px;
  transition: 0.3s all;
}
.login-container .login-grid .left form .form-group .form-input:focus {
  border-bottom: 2px solid rgb(192, 133, 6);
}
.login-container .login-grid .left form .form-group input[type=submit] {
  padding: 10px 40px;
  outline: none;
  border: none;
  background-color: rgb(192, 133, 6);
  border-radius: 10px;
  text-align: center;
  color: #fff;
  margin-left: 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  .login-container .login-grid {
    grid-template-columns: 1fr;
    height: 100vh;
  }
}
@media only screen and (max-width: 576px) {
  .login-container {
    padding: 1rem;
  }
  .login-container .login-grid .left form {
    padding: 1rem 0;
  }
  .login-container .login-grid .right {
    display: none;
  }
}
.signup-container {
  font-family: "Poppins", sans-serif;
  padding: 2rem 5rem;
  margin: 0 auto;
}

.signup-container .signup-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50vh;
}

.signup-container .signup-grid .left {
  height: 100vh;
  overflow-y: scroll;
}
.signup-container .signup-grid .left h4 {
  font-size: 1.4rem;
  margin-left: 4rem;
}

.signup-container .signup-grid .left form {
  background-color: #fff;
  padding: 2rem 3rem;
  margin-top: 1.4rem;
  border-radius: 10px;
}
.signup-container .signup-grid .left form .form-group {
  margin: 20px 0;
  padding: 0 3rem;
}
.signup-container .signup-grid .left form .form-group .form-input {
  padding: 10px 0;
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  color: #6e6e6e;
  background-color: transparent;
  border-bottom: 2px solid rgba(110, 110, 110, 0.4549019608);
  margin: 10px 20px;
  transition: 0.3s all;
}
.signup-container .signup-grid .left form .form-group .form-input:focus {
  border-bottom: 2px solid rgb(192, 133, 6);
}
.signup-container .signup-grid .left form .form-group input[type=submit] {
  padding: 10px 40px;
  outline: none;
  border: none;
  background-color: rgb(192, 133, 6);
  border-radius: 10px;
  text-align: center;
  color: #fff;
  margin-left: 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  .signup-container .signup-grid {
    grid-template-columns: 1fr;
    height: 100vh;
  }
}
@media only screen and (max-width: 576px) {
  .signup-container {
    padding: 1rem;
  }
  .signup-container .signup-grid .right {
    display: none;
  }
  .signup-container .signup-grid .left form {
    padding: 1rem 0;
  }
}
.destination-section {
  height: 60vh;
}

.destination-section .destination-container {
  padding: 2rem 5rem;
  margin: 0 auto;
  background-image: url(../images/bus-real.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
}

.destination-section .destination-container .destination-content-search {
  background-color: rgba(250, 250, 250, 0.429);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  height: 120px;
  border-radius: 10px;
  padding: 2rem 5rem;
  display: flex;
  justify-content: center;
}
.destination-section .destination-container .destination-content-search .input .searchBtn {
  margin-left: 1rem;
  padding: 10px 40px;
  background-color: rgb(192, 133, 6);
  color: #fff;
  border-radius: 10px;
  transition: 0.3s all;
}
.destination-section .destination-container .destination-content-search .input .searchBtn:hover {
  transition: 0.6s all;
  background: #000;
}
.destination-section .destination-container .destination-content-search .search {
  padding: 10px 100px;
  border-radius: 10px;
  outline: none;
  color: #6e6e6e;
}

.destination-section .our-destinations {
  padding: 2rem 5rem;
  margin-top: 1rem;
}
.destination-section .our-destinations h3 {
  font-family: "Nunito", sans-serif;
  color: rgb(192, 133, 6);
}
.destination-section .our-destinations .lists-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.destination-section .our-destinations .lists-group .list {
  padding: 1.3rem 2rem;
  background-color: white;
  border-radius: 10px;
}
.destination-section .our-destinations .lists-group .list h4 {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.profile {
  height: 100vh;
}

.profile .profile-container {
  padding: 2rem 6rem;
  margin: 0 auto;
}

.profile .profile-container .bar {
  background-color: rgba(192, 133, 6, 0.548);
  width: 100%;
  height: 65px;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
}
.profile .profile-container .bar h3 {
  padding: 15px;
  color: #fff;
}

.profile .profile-container .profile-detail {
  padding: 2rem;
}

.booking-history {
  height: 100vh;
}
.booking-history .booking-history-container {
  padding: 2rem 6rem;
}
.booking-history .booking-history-container .book-bar {
  background-color: rgba(192, 133, 6, 0.548);
  padding: 15px 30px;
  border-radius: 10px;
}
.booking-history .booking-history-container .book-bar h4 {
  font-family: "Nunito", sans-serif;
  color: #fff;
}/*# sourceMappingURL=index.css.map */